/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --brand-color-main: #db00ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --button-color: #ff0070;
  --button-hover: #FF007066;
  --shadow-color:  #ff0070;
  --header-title-text: #000028;
  --title-color: #ff0070;
  --page-background-color: #000028;
  --background-img: url(../images/cover-image-dark.png);
  --rec-decor-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
  --brand-color-main: #db00ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --button-color: #ff0070;
  --button-hover: #FF007066;
  --shadow-color:  #ff0070;
  --header-title-text: #000028;
  --title-color: #ff0070;
  --page-background-color: #000028;
  --background-img: url(../images/cover-image-dark.png);
  --rec-decor-visibility: visible;
  }
}

